* {
    color: #ececec;
    font-family: cursive
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #212121;
}

button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

button:hover {
    background-color: rgba(180, 180, 180, 0.05);
}