.dropdown{
  background-color: rgb(52, 52, 52);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  width: 8rem;
  z-index: 999;
}

.dropdown button{
  margin: 0;
  border: none;
  border-radius: .4rem;
  overflow: visible;
}

.dropdown button:hover{
  background-color: rgba(183, 178, 178, 0.12);
}

.dropdown button:active{
  background-color: rgba(120, 120, 120, 0.12);
}